.main-info-section-for-teachers {
  padding: 36px 36px 100px 30px;
  display: flex;
}
.left-content-info-section {
  width: 494px;
}
.data-to-teach-how-to-use {
  margin-top: 36px;
}
.data-to-teach-how-to-use-main {
  margin-top: 0px;
}
.inside-bigger-paragraph {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #006aff;
  margin-bottom: 12px;
  font-family: Samsung Sharp Sans;
}
.inside-typic-content {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
  margin-top: 12px;
  font-family: Gilroy-Medium;
}
.inside-smaller-paragraph {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 12px;
  font-family: Gilroy-Medium;
}
.right-video-info-section {
  margin-left: 30px;
}
.bottom-video-info-section {
  display: flex;
  justify-content: space-between;
}
.bottom-video-btn {
  background: #e7f0ff;
  border-radius: 18px;
  outline: none;
  border: none;
  padding: 24px 24px 24px 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #006aff;
  display: flex;
  align-items: center;
  height: 76px;
  margin-top: 18px;
}
.bottom-video-btn svg {
  margin-right: 21px;
}
@media (max-width: 1024px) {
  .top-video-info-section img {
    width: 400px;
  }
  .bottom-video-btn {
    font-size: 13px;
    line-height: 18px;
    height: 54px;
  }
  .bottom-video-btn svg {
    margin-right: 2px;
  }
  .inside-bigger-paragraph {
    font-size: 26px;
  }
  .inside-typic-content {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .main-info-section-for-teachers {
    flex-direction: column;
  }
  .left-content-info-section {
    width: 710px;
  }
  .right-video-info-section {
    margin-top: 50px;
    width: 460px;
    margin-left: 126px;
  }
  .top-video-info-section {
    text-align: center;
  }
  .bottom-video-info-section {
    justify-content: space-evenly;
  }
}
@media (max-width: 540px) {
  .left-content-info-section {
    width: 480px;
  }
  .right-video-info-section {
    margin-left: 0px;
  }
}
